# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Python database
*.db
*.sqlite
*.sqlite3

# Node
node_modules/
dist/
.vite/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Machine data
backend/data/*.csv

# Electron
release/
out/